doctype html
html(lang="en")
    include ../components/head.pug
    body        
        include ../components/header.pug

        main.container 
            section.logo
                img(src="../assets/img/cerebro.svg" alt="Logo")
                h4 Neurai Dev
            block contenido

        include ../components/footer.pug
        block js
            script(src="../js/animations.js") 
            script(src="../js/pages.js")