doctype html
html(lang="en")
    include ../components/head.pug
    body        
        include ../components/header.pug

        include ../components/main.pug

        include ../components/footer.pug
        block js
            script(src="js/animations.js") 
            script(src="js/pages.js")
