extends ./template/template.pug
block append estilos
    link(rel="stylesheet", href="./sass/index.css")
block append contenido
    include ./pug/accesorios.pug
    //- script(src="./js/animations.js")
     