extend components/_head.pug
block contenidos     

    main.contenido

        .desarrollo
            p En develop

        section.presentacion  

            .slides 
                input(type="radio" name="radio-btn" id="radio1")
                input(type="radio" name="radio-btn" id="radio2")
                input(type="radio" name="radio-btn" id="radio3")
                input(type="radio" name="radio-btn" id="radio4")

                .slide.first 
                    img(src="./assets/img/presentacion/park.jpg", alt="")                 
                .slide 
                    img(src="./assets/img/books/2.jpeg", alt="")
                .slide 
                    img(src="./assets/img/books/1.jpeg", alt="")
                .slide 
                    img(src="./assets/img/books/3.jpeg", alt="")

            
            //- .slider
            //-     ul 
            //-         li 

            //-             img(src="./assets/img/presentacion/presentation.jpg" alt="") 
            //-         li 
            //-             img(src="./assets/img/sistemas/linux/debian.png" alt="") 
            //-         li 
            //-             img(src="./assets/img/presentacion/presentation.jpg" alt="") 
            //-         li 
            //-             img(src="./assets/img/presentacion/presentation.jpg" alt="") 
            -//            

            .navigation-auto 
                .auto-btn1 
                .auto-btn2 
                .auto-btn3 
                .auto-btn4
                         

            .navigation-manual 
                label(for="radio1" class="manual-btn") 
                label(for="radio2" class="manual-btn") 
                label(for="radio3" class="manual-btn") 
                label(for="radio4" class="manual-btn") 

        section.mi_trabajo 
            section.accesorios 
                .titulo 
                    h2 Accesorios to celularess

                section.accesorio 
                    .accesorio__tipo 
                        //- dentro de los h3 se debe poder llamar a los diferentes accesorios que estarán en otro archivo
                        h3 Memoria 16 gigas
                        img(src="./assets/img/ArticulosChina/SanDisk16/foto1.jpg" alt="Tarjeta de memoria 16 gigas")
                        p $25.000
                        a(href="https://julianesp.com/categoria-producto/accesorios/celulares/?add-to-cart=258" rel="noopener" target="_blank") Comprar
                    .accesorio__tipo 


                .titulo
                    h2 Accesorios para ordenadores
                    
    script(src="./js/animations.js")  
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")         

//-aquí debe ir block para seguir agregando el contenido de la pagina